# ===============================
# Node / JavaScript
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Coverage / Tests
# ===============================
coverage/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/

# ===============================
# Docker
# ===============================
docker-compose.yml
*.pem

# ===============================
# Build Artifacts
# ===============================
dist/
build/

